/* Author: Sotiris Konstantis */

.main {
  min-height: calc(100vh - 136px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(7, 21, 60, 0.8);
  display: inline-block;
  width: 100vw;
  box-sizing: border-box;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 20px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  pointer-events: all;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 100px;
}
